.app-wrapper {
  height: 100vh;
}

.nav {
  display: flex;
  font-size: 2em;
  margin: auto;
  padding: 20px;
  background-color: red;
  justify-content: space-between;
  width: 90%;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

.footer {
  height: 50vh;
}

.foot {
  display: flex;
  font-size: 2em;
  margin: auto;
  padding: 20px;
  background-color: red;
  justify-content: space-between;
  width: 90%;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  position: sticky;
}
