.container {
  height: auto;
  width: auto;
  border: solid;
  display: inline-block;
  margin-left: 400px;
  margin-top: 50px;
  background-color: black;
}

.picture {
  height: 500px;
  width: 500px;
}

.text {
  text-align: center;
  color: red;
}
