.container {
  height: auto;
  width: auto;
  border: solid;
  display: inline-block;
  margin-left: 400px;
  margin-top: 50px;
}

.picture {
  height: 500px;
  width: 500px;
  border-radius: 250px;
}

.text {
  text-align: center;
}
