body {
  background: url(http://49.media.tumblr.com/7738bbaf7dddbe537127fa4c96775f58/tumblr_o0x34xmKvH1s4fz4bo1_250.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
