h1.header {
    text-align: center;
    font-size: 4em;
    font-family: sans-serif;
    
}
form.input-box {
    text-align: center;
    
}
div.list {
    width: 25%;
    margin: auto;
    text-align: left;
}