.app-wrapper {
  height: 100vh;
}

.nav {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 50%;
  background-color: orange;
  color: black;
  padding: 15px;
}

.footer {
  position: absolute;
  left: 0 ; right: 0; bottom: 0;
  background-color: blue;
  margin: auto;
  width: 50%;
  padding: 15px;
  color: white;
}
